[Desktop Entry]
Name=MX User Manager
Name[ca]=Administrador d'Usuaris MX
Name[de]=MX Benutzer-Manager
Name[el]=Διαχειριστής χρήστη για MX
Name[es]=Gestor de usuarios de MX
Name[fr]=MX Gestionnaire des utilisateurs
Name[it]=Gestore di utenti per MX
Name[ja]=MX ユーザーマネージャー
Name[nl]=MX Gebruikersbeheer
Name[pt_BR]=Gerenciador de Usuários do MX
Name[ro]=MX Manager Utilizator
Name[ru]=абонентская система управления для MX
Name[sv]=MX Användarhanterare
Comment=Simple user configuration
Comment[ca]=Configuració d'Usuari simple
Comment[de]=Einfache Benutzer-Konfiguration
Comment[es]=Configuración simple de usuarios
Comment[fr]=Configuration utilisateur simple 
Comment[nl]=Eenvoudige gebruikersconfiguratie
Comment[ro]=Simplu configurator de conturi utilizator 
Comment[sv]=Enkel användar-konfiguration
Exec=su-to-root -X -c mx-user
Icon=/usr/share/pixmaps/mx/mx-user.png
NoDisplay=false
Categories=System;
Type=Application 
