[Desktop Entry]
Name=MX User Manager
Name[ca]=Administrador d'Usuaris MX
Name[de]=Benutzer-Manager für MX
Name[el]=διαχειριστής του χρήστη για MX
Name[es]=Gestor de usuarios para MX
Name[fr]=Gestionnaire de l'utilisateur pour MX
Name[it]=Gestore di utenti per MX
Name[ja]=MX ユーザーマネージャー
Name[nl]=MX Gebruikersbeheer
Name[pt_BR]=Gerenciador de Usuários do MX
Name[ro]=MX Manager Utilizator
Name[ru]=абонентская система управления для MX
Name[sv]=Användarhanterare för MX
Comment=Simple user configuration
Comment[ca]=Configuració d'Usuari simple
Comment[de]=Einfache Benutzer-Konfiguration
Comment[es]=Configuración simple de usuarios
Comment[fr]=Configuration utilisateur simple
Comment[nl]=Eenvoudige gebruikersconfiguratie
Comment[pt_BR]=Simple user configuration
Comment[ro]=Simplu configurator de conturi utilizator 
Comment[sv]=Enkel användar-konfiguration
Exec=su-to-root -X -c mx-user
Icon=/usr/share/pixmaps/mx/mx-user.png
NoDisplay=false
Categories=System;
Type=Application 
